<h1>Editar Disciplina</h1>

<%= render 'form' %>

<%= link_to 'Exibir', [:admin, @disciplina] %> | 
<%= button_to (t 'Excluir'), [:admin, @disciplina], :confirm => 'Tem certeza disso?', :method => :delete %> | 
<%= link_to (t 'Voltar'), admin_disciplinas_path %>