<h1>Disciplinas</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @disciplinas.each do |disciplina| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= link_to disciplina.nome, [:admin, disciplina] %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @disciplinas %>

<br />

<%= link_to 'Nova Disciplina', new_admin_disciplina_path %>