%table.bordered-table
  %thead
    %tr
      - for month, ammount in @month_absences
        %th= (t 'date.abbr_month_names')[month]
      %th
  %tbody
    %tr
      - for month, ammount in @month_absences
        %td= ammount
      %td= @month_absences.delete_if {|k, v| v == nil}.inject(0) {|sum, hash| sum + hash.last} 