<table class="grid">
  <thead>
    <tr>
      <th>VP1 <span class="small-relevance">(12/08/2011)</span></th>
      <th>VP2 <span class="small-relevance">(21/09/2011)</span></th>
      <th>VF <span class="small-relevance">(10/11/2011)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>80 <span class="small-relevance">/100</span></td>
      <td>70 <span class="small-relevance">/100</span></td>
      <td></span></td>
    </tr>
  </tbody>
</table>