<% if @updates %>
<h3><%= t 'Updates' %></h3>
<ul class="wall">
  <% for update in @updates %>
  <% if update.is_a?(Wall) %>
  <%= render :partial => 'wall/wall', :locals => {:wall => update} %>
  <% else %>
  <%= render :partial => 'files/file', :locals => {:file => update} %>
  <% end %>
  <% end %>
</ul>
<% end %>