<aside>
    <nav>
        <ul>
            <li><%= link_to (t 'Home'), admin_academic_period_path(academic_period) %></li>
            <li><%= link_to (t 'Classes') %></li>
        </ul>
    </nav>
</aside>
