<header>
  <h1><%= (t 'New') + ' ' + (t 'AcademicPeriod') %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), admin_academic_periods_path, :class => 'back' %></li>
  </ul>
</header>

<%= render 'form' %>