- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'student/lectures/menu'

%article.content
  = render :partial => 'wall/index', :locals => {:submit_url => student_lecture_wall_index_path(@lecture)}