<aside>
  <nav>
    <ul>
      <li><%= link_to (t 'Home'), admin_student_path(@student) %></li>
      <li><%= link_to (t 'Lectures'), admin_student_lecture_students_path(@student) %></li>
    </ul>
  </nav>
</aside>
