<aside>
    <nav>
        <ul>
            <li><%= link_to 'Detalhes', admin_aluno_path(aluno) %></li>
            <li><%= link_to 'Cadeiras', admin_aluno_path(aluno) %></li>
        </ul>
    </nav>
</aside>
