%header.page-header
  %h1= (t 'New') + ' ' + (t 'activerecord.models.student')
  %ul#toolbar
    %li= link_to (t 'Back'), admin_students_path, :class => 'back'

%div{:class => 'block-message alert-message warning'}
  = t 'PasswordWillBeTheStudentCode'

= render 'form'

:javascript
  if ($('#student_code').val() != '') {
    $('#student_code').attr('readonly', 'readonly');
    $('#student_person_attributes_name').focus()
  }
