<aside>
  <nav>
    <ul>
      <li class="home"><%= link_to (t 'Home'), student_reports_home_index_path %></li>
      <li class="report"><%= link_to (t 'Transcripts'), student_reports_transcripts_path %></li>
      <li class="calendar"><%= link_to (t 'StudentSchedule'), student_reports_schedule_index_path %></li>
    </ul>
  </nav>
</aside>