<aside>
    <nav>
        <ul>
            <li><%= link_to (t 'Home'), student_reports_path %></li>
            <li><%= link_to (t 'Transcripts'), transcripts_student_reports_path %></li>
            <li><%= link_to (t 'CurrentTestsAndAbscences'), cta_student_reports_path %></li>
        </ul>
    </nav>
</aside>