<aside>
    <nav>
        <ul>
            <li class="home"><%= link_to (t 'Home'), student_reports_path %></li>
            <li class="report"><%= link_to (t 'Transcripts'), transcripts_student_reports_path %></li>
            <li class="statistics"><%= link_to (t 'TestsAndAbscences'), tests_and_abscences_student_reports_path %></li>
            <li class="calendar"><%= link_to (t 'TimeTable'), timetable_student_reports_path %></li>
        </ul>
    </nav>
</aside>