<aside>
    <nav>
        <ul>
            <li><%= link_to 'Página Inicial', admin_curso_path(curso) %></li>
            <li><%= link_to 'Disciplinas', admin_curso_disciplinas_path(curso) %></li>
            <li><%= link_to 'Alunos', admin_curso_alunos_path(curso) %></li>
            <li><%= link_to 'Relatorios', admin_curso_disciplinas_path(curso) %></li>
        </ul>
    </nav>
</aside>
