<aside>
    <nav>
        <ul>
            <li><%= link_to 'Início', admin_curso_path(curso) %></li>
            <li><%= link_to 'Cadeiras', admin_curso_cadeiras_path(curso) %></li>
            <li><%= link_to 'Professores', admin_curso_cadeiras_path(curso) %></li>
            <li><%= link_to 'Alunos', admin_curso_cadeiras_path(curso) %></li>
        </ul>
    </nav>
</aside>