<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'professor/lectures/menu' %>
<article class="content">
  <%= render :partial => 'wall/index', :locals => {:submit_url => professor_lecture_wall_index_path(@lecture)} %>
</article>