body {
  color: #333;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  background: white url('../images/html-bg.png') repeat-x;
}
body a, body a:visited, body a:active {
  color: #000;
}
a:hover {
  text-decoration: none;
}
h1 {
  text-shadow: 1px 1px 0px white;
}
header {
  margin: 1% 2% 1%;
}
header h1 {
  background: url('../images/logo-uni.png') no-repeat 0% 50%;
  padding: 0 0 0 64px;
  min-height: 48px;
  position: relative;
  margin: 0;
}
header h1 a {
  text-decoration: none;
  color: #333333 !important;
}
header h1 span {
  font-size: small;
  font-weight: normal;
  display: block;
  position: absolute;
  bottom: 0em;
}
header {
  position: relative;
}
header section {
  position: absolute;
  top: 0;
  right: 0;
}
#main-nav {
  float: left;
  width: 96%;
  margin: 0 2%;
  background: #333 url('../images/top_bar-bg.png') repeat-x;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 4px #CCC;
  box-shadow: 0 2px 4px #CCC;
}
#main-nav li.active, #main-nav a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
}
#main-nav a:hover {
  text-decoration: underline;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  float: left;
  width: 96%;
}
#main-nav ul li {
  float: left;
  padding: 0.5em 1.75em;
  border-right: 1px solid #666;
}
#content {
  float: left;
  width: 96%;
  margin: 2%;
}
#content h1, #content article h2 {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.25em;
  margin: 0 0 2%;
}
#content article {
  float: left;
  width: 75%;
}
#content aside {
  float: left;
  margin-right: 2%;
  width: 23%;
  background: #EEE;
}
#content aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content aside ul li {
  border-bottom: 1px solid #DDD;
  padding: 1em 1.5em 1em 2.5em;
  background: url('../images/icons/bullet_black.png') no-repeat 1em 50%;
}
#breadcrumbs, #breadcrumbs a {
  color: #666;
  font-size: small;
  text-decoration: none;
}
footer {
  padding-top: 0.5em;
  border-top: 1px dotted #EEE;
  float: left;
  width: 96%;
  margin: 0 2% 2%;
}
footer {
  font-size: small;
}
footer, footer a, footer a:active, a:visited, footer a:link {
  color: #666;
}
#license {
  line-height: 1.4em;
}
/* Tables */
table {
  border-spacing: 0;
  width: 100%
}
tr.even {
  background: #eee;
}
th, td {
  padding: 0.75em 1em
}
th {
  text-align: left;
}
/* Forms */
input, select, textarea {
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  font-family: sans-serif;
}

/* Essas classes são do scaffold do Ruby - Depois ajeitamos. */
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Login */
#login #username, #login #password {
  padding-left: 26px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

#login #username {
  background-image: url('../images/icons/username.png') !important;
}

#login #password {
  background-image: url('../images/icons/password.png') !important;
}