/* Basic */
body {
  color: #333;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  background: white url('../images/html-bg.png') repeat-x;
}
body a, body a:visited, body a:active {color: #000}
a:hover {text-decoration: none}
h1 {text-shadow: 1px 1px 0px white}

/* Headers */
header {margin: 1% 2% 1%}
header h1 {
  background: url('../images/logo-uni.png') no-repeat 0% 50%;
  padding: 0 0 0 64px;
  min-height: 48px;
  position: relative;
  margin: 0;
}
header h1 a {text-decoration: none;color: #333333}
header h1 span {
  font-size: small;
  font-weight: normal;
  display: block;
  position: absolute;
  bottom: 0em;
}
header {position: relative}
header section {
  position: absolute;
  top: 0;
  right: 0;
}

/* Main Menu */
#main-nav {
  float: left;
  width: 96%;
  margin: 0 2%;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 4px #CCC;
  box-shadow: 0 2px 8px #CCC;
  background-color: #575d62;
  background-image: -moz-linear-gradient(top, #575d62, #2c3135); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #575d62, #2c3135); /* IE10 */
  background-image: -o-linear-gradient(top, #575d62, #2c3135); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575d62), to(#2c3135)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #575d62, #2c3135); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #575d62, #2c3135);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575d62', EndColorStr='#2c3135'); /* IE6–IE9 */
}
#main-nav li.active, #main-nav a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
}
#main-nav a:hover {text-decoration: underline}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  float: left;
  width: 96%;
}
#main-nav ul li {
  float: left;
  padding: 0.5em 1.75em;
  border-right: 1px solid #666;
}

/* Content */
#content {
  float: left;
  width: 96%;
  margin: 2%;
}
#content h1, #content article h2, #content header {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.25em;
  margin: 0 0 2%;
}
#content header {position: relative}
#content header h1, #content header h2 {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  min-height: 0;
}
#content article {
  float: left;
  width: 75%;
}
#content aside {
  float: left;
  margin-right: 2%;
  width: 23%;
  background: #EEE;
}
#content aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content aside ul li {
  border-bottom: 1px solid #DDD;
  padding: 1em 1.5em 1em 2.5em;
  background: url('../images/icons/bullet_black.png') no-repeat 1em 50%;
}
#breadcrumbs, #breadcrumbs a {
  color: #666;
  font-size: small;
  text-decoration: none;
}

/* Footer */
footer {
  padding-top: 0.5em;
  border-top: 1px dotted #EEE;
  float: left;
  width: 96%;
  margin: 0 2% 2%;
}
footer {font-size: small}
footer, footer a, footer a:active, a:visited, footer a:link {color: #666}
#license {margin-top: 0.20em}

/* Toolbar */
#toolbar {
  position: absolute;
  bottom: 0.25em;
  right: 0;
  float: left;
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}
#toolbar li {
  float: left;
  display: block;
  margin-left: 1.5em;
}
#toolbar a, #toolbar input {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: #000;
  border: 0;
  text-shadow: none;
  font-size: 1em;
}
#toolbar a:hover, #toolbar input:hover {text-decoration: none}
#toolbar .edit, #toolbar .delete, #toolbar .back, #toolbar .new, #toolbar .show {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
#toolbar .new {background-image: url('../images/icons/add.png')}
#toolbar .back {background-image: url('../images/icons/back.png')}
#toolbar .edit {background-image: url('../images/icons/edit.png')}
#toolbar .delete {background-image: url('../images/icons/delete.png')}
#toolbar .show {background-image: url('../images/icons/full_page.png')}

/* Tables */
table {
  border-spacing: 0;
  width: 100%;
}
tbody tr:nth-child(odd) {background: #EEE}
th, td {
  padding: 0.75em 1em;
  text-align: left;
}

/* Forms */
input, select, textarea {
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  font-family: sans-serif;
}
button, input[type=submit], input[type=reset] {padding: 0.5em 2em}

/* Essas classes são do scaffold do Ruby - Depois ajeitamos. */
#notice {color: green}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Login */
article#login, aside#login-splash {
  margin-top: 2%;
  margin-bottom: 1%;
}
article#login {width: 48%}
article#login h1 {
  width: 16em;
  font-size: 1.5em;
}
aside#login-splash {
  width: 48%;
  text-align: right;
  background: none;
}
#login #username, #login #password {
  background-position: 8px 50%;
  background-repeat: no-repeat;
  padding: 1em 1em 1em 2.75em;
  background-color: #FBFBFB;
  background-position: 1em 50%;
  background-repeat: no-repeat;
  border: 1px solid #E5E5E5;
  width: 23em;
  margin-top: 0.5em;
}

#login #username {background-image: url('../images/icons/user.png')}
#login #password {background-image: url('../images/icons/lock.png')}

/* Page-specific */
aside#user {
  width: 180px;
  height: 240px; 
  padding: 5px;
}
