body {
    color: #333;
    font-family: sans-serif;
    margin: 0;
}

a, a:link, a:active, a:visited {
    color: #000;
}

a:hover {
    text-decoration: none;
}

header {
    margin: 2%;
}

header h1 {
    background: url('../images/logo-uni.png') no-repeat 0% 50%;
    padding-left: 104px;
    min-height: 80px;
    position: relative;
}

header h1 a {
    line-height: 64px;
    text-decoration: none;
    color: #333333 !important;
}

header h1 span {
    font-size: 0.5em;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 0.5em;
}

#main-nav ul {
    margin: 0 2%;
}

#content {
    float: left;
    width: 96%;
    margin: 2%;
}

#content h1, #content article h2 {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 0.25em;
    margin-top: 0;
}

#content article {
    float: left;
    width: 75%;
}

#content aside {
    float: left;
    margin-right: 2%;
    width: 23%;
    background: #EEE;
}

footer {
    padding-top: 0.5em;
    border-top: 1px dotted #ccc;
    float: left;
    width: 96%;
    margin: 0 2% 2%;
}

header {
    position: relative;
}

header section {
    position: absolute;
    top: 0;
    right: 0;
}
/* Tables */
table {
    border-spacing: 0;
    width: 100%
}
tr.even {
    background: #eee;
}
th, td {
    padding: 0.5em 0.75em
}
th {
    text-align: left;
}

/* Essas classes são do scaffold do Ruby - Depois ajeitamos. */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}