<aside class="sidebar">
  <ul>
    <li><%= link_to (t 'System'), admin_parameters_path %></li>
    <li><%= link_to (t 'CourseCategories'), admin_course_categories_path %></li>
    <li><%= link_to (t 'Scholarities'), admin_scholarities_path %></li>
  </ul>
</aside>