<header>
  <h1><%= @user.name %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Edit'), nil, :class => 'edit'  %></li>
  </ul>
</header>

<aside id="user">
  <%= image_tag 'no-picture-normal.png' %>
</aside>

<article>
  <%= render :partial => 'data', :locals => { :user => @user } %>
</article>
