%header.page-header
  %h1= @person.name

#user
  %aside
    - if @person.photo.exists?
      = image_tag @person.photo.url(:medium)
    - else
      = image_tag 'no-picture-normal.png'
  
  %article
    = render :partial => 'data', :locals => { :user => @person, :student => @student, :professor => @professor }