<aside>
    <nav>
        <ul>
            <li><%= link_to (t 'Home'), admin_reports_path %></li>
            <li><%= link_to (t 'Analíticos') %></li>
            <li><%= link_to (t 'Sintéticos') %></li>
            <li><%= link_to (t 'Gráficos') %></li>
        </ul>
    </nav>
</aside>