/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require vendor
 *= require_tree . 
*/

/* Mixins */
@mixin background-gradient($colorA, $colorB) {
  background-color: $colorA;
  background-image: -moz-linear-gradient(top, $colorA, $colorB); /* FF3.6 */
  background-image: -ms-linear-gradient(top, $colorA, $colorB); /* IE10 */
  background-image: -o-linear-gradient(top, $colorA, $colorB); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from($colorA), to($colorB)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $colorA, $colorB); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, $colorA, $colorB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#{$colorA}, EndColorStr=#{$colorB}); /* IE6–IE9 */
}

/* Body */
html body {
  padding-top: 60px;
}

.topbar .dropdown img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
}

body .container-fluid > .sidebar {
  top: auto;
}

body .page-header {
  float: left;
  width: 100%;
  border-bottom: none;
}

/* Toolbar */
#toolbar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  background: whiteSmoke;
  @include background-gradient(#FFFFFF, #F5F5F5);
  border-width: 1px;
  border-style: solid;
  border-color: #DDD;
  border-radius: 3px;
  width: 100%;
  height: auto;
  float: left;
  
  form {
    margin-bottom: 0;
  }
  
  li {
    float: left;
    display: block;
    margin-left: 1.5em;
    padding: 0.5em 0;
  }
}
#toolbar a, #toolbar input, .item input.delete {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  border: none;
  text-shadow: none;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0px;
  box-shadow: none;
}
#toolbar a:hover, #toolbar input:hover, .item input.delete:hover {
  text-decoration: none;
  cursor: pointer;
}
#toolbar a, #toolbar .delete, .item input.delete {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
#toolbar .new {
  background-image: url('/assets/icons/add.png');
}
#toolbar .back {
  background-image: url('/assets/icons/back.png');
}
#toolbar .edit {
  background-image: url('/assets/icons/edit.png');
}
#toolbar .delete, .item input.delete, .item input.delete:hover, #toolbar input.delete:hover {
  background-image: url('/assets/icons/delete.png');
}
#toolbar .show {
  background-image: url('/assets/icons/full_page.png');
}
#toolbar .person {
  background-image: url('/assets/icons/user.png');
}

/* Aside */
aside {
  background: whitesmoke;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #DDD;
    
    li {
      border-bottom: 1px solid #DDD;
      background: url('/assets/icons/bullet_black.png') no-repeat 14px 50%;
      
      a {
        padding: 7px 14px 7px 44px;
        display: block;
      }
    }
  }
}
  
aside.aside-clean {
  background: none;
  
  ul {
    border-width: 0;
    
    li {
      border-width: 0;
      padding: 0;
      background: none;
      
      ul {
        padding-left: 2em;
        list-style-type: disc;
        
        li {
          a {
            padding: 0;
            display: inline;
          }
        }
      }
    }
  }
}

/* Icons */
aside ul li.home {
  background-image: url('/assets/icons/home.png');
}
aside ul li.group {
  background-image: url('/assets/icons/group.png');
}
aside ul li.files, .wall a.file {
  background-image: url('/assets/icons/upcoming-work.png');
}
aside ul li.mail {
  background-image: url('/assets/icons/email.png');
}
aside ul li.report {
  background-image: url('/assets/icons/report.png');
}
aside ul li.statistics {
  background-image: url('/assets/icons/statistics.png');
}
aside ul li.calendar {
  background-image: url('/assets/icons/calendar.png');
}
aside ul li.details {
  background-image: url('/assets/icons/attibutes.png');
}
aside ul li.tests {
  background-image: url('/assets/icons/issue.png');
}
aside ul li.abscences, #toolbar .absences {
  background-image: url('/assets/icons/order.png');
}
aside ul li.finish {
  background-image: url('/assets/icons/check.png');
}
aside ul li.lessons {
  background-image: url('/assets/icons/bookmark.png');
}

/* Wall */
.wall {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  
  li {
    position: relative;
    margin-bottom: 2em;
  }
  
  .photo {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 75px;
  }
  
  .title {
    background: white url('/assets/commentArrow.png') no-repeat 1em 100%;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  
  .item {
    margin-left: 95px;
  }
  
  .item .content p {
    margin: 0 0 0.5em;
  }
  
  .item .content p:last-child {
    margin-bottom: 0;
  }
  
  .item h4 {
    margin: 0 0 0.5em;
  }

  .content {
    border-radius: 10px;
    padding: 0.75em 1em;
    background: whitesmoke;
  }

  .title {
    color: #4C4C4C;
  }

  a.file {
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .content form {
    border-top: 1px solid #BBB;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }
}

/* People Tables */
td.photo, th.photo {
  width: 32px;
  padding-right: 0;
}

/* Search */
.search {
  overflow: auto;
  padding: 10px;
  margin-bottom: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke;
}

/* Breadcrumbs */
body .breadcrumb {
  border-width: 0;
  background: none;
  border-bottom: 1px solid #EEE;
  padding: 0 0 3px 0;
}
