/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require vendor
 *= require_tree . 
*/

/* Body */
html body {
  padding-top: 40px;
  
  h1 {
    font-size: 2.75em;
    font-weight: 300;
    line-height: 1.5em;
    border-bottom: 1px solid #DDD;
  }
  
  h3 {
    margin-bottom: 9px;
  }
}

body .page-header {
  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 300;
    line-height: 1.75em;
    border-bottom: 1px solid #DDD;
  }
}

a.brand {
  background: url('/assets/logouni20_white.png') no-repeat 50% 40%;
  width: 38px;
  height: 20px;
  text-indent: -9999px;
}

.topbar .dropdown img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
}

body .container-fluid > .content {
  min-height: 300px;
}

body .container-fluid > .sidebar {
  top: auto;
}

body .page-header {
  border-bottom: none;
}

/* Toolbar */
#toolbar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  background: whiteSmoke;
  width: 100%;
  height: 36px;
  border-radius: 0 0 6px 6px;
  
  form {
    margin-bottom: 0;
  }
  
  li {
    float: left;
    display: block;
    margin-left: 1.5em;
    padding: 9px 0;
  }
}
#toolbar a, #toolbar input, .item input.delete {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  border: none;
  text-shadow: 0 1px 0 white;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0px;
  box-shadow: none;
}
#toolbar a:hover, #toolbar input:hover, .item input.delete:hover {
  text-decoration: none;
  cursor: pointer;
}
#toolbar a, #toolbar .delete, .item input.delete {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  color: #0069D6;
}
#toolbar .new {
  background-image: url('/assets/icons/add.png');
}
#toolbar .back {
  background-image: url('/assets/icons/back.png');
}
#toolbar .edit {
  background-image: url('/assets/icons/edit.png');
}
#toolbar .delete, .item input.delete, .item input.delete:hover, #toolbar input.delete:hover {
  background-image: url('/assets/icons/delete.png');
}
#toolbar .show {
  background-image: url('/assets/icons/full_page.png');
}
#toolbar .person {
  background-image: url('/assets/icons/user.png');
}
#toolbar.solo {
  margin-bottom: 18px;
}

/* Aside */
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    border-top: 1px solid #DDD;
    background: url('/assets/icons/bullet_black.png') no-repeat 0 50%;
    
    a {
      padding: 7px 14px 7px 24px;
      display: block;
    }
  }
  
  li:first-child {
    border-top: none;
  }
}
  
aside.aside-clean {
  background: none;
  
  ul {
    border-width: 0;
    
    li {
      border-width: 0;
      padding: 0;
      background: none;
      
      ul {
        padding-left: 0;
        list-style-type: none;
        
        li {
          a {
            padding: 0;
            display: inline;
          }
          
          .group {
            display: block;
          }
        }
      }
    }
  }
}

/* Icons */
aside ul li.home {
  background-image: url('/assets/icons/home.png');
}
aside ul li.group {
  background-image: url('/assets/icons/group.png');
}
aside ul li.files, .wall a.file {
  background-image: url('/assets/icons/upcoming-work.png');
}
aside ul li.mail {
  background-image: url('/assets/icons/email.png');
}
aside ul li.report {
  background-image: url('/assets/icons/report.png');
}
aside ul li.statistics {
  background-image: url('/assets/icons/statistics.png');
}
aside ul li.calendar {
  background-image: url('/assets/icons/calendar.png');
}
aside ul li.details {
  background-image: url('/assets/icons/attibutes.png');
}
aside ul li.tests {
  background-image: url('/assets/icons/issue.png');
}
aside ul li.abscences, #toolbar .absences {
  background-image: url('/assets/icons/order.png');
}
aside ul li.finish {
  background-image: url('/assets/icons/check.png');
}
aside ul li.lessons {
  background-image: url('/assets/icons/bookmark.png');
}

/* Wall */
.wall {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  
  li {
    position: relative;
    margin-bottom: 2em;
  }
  
  .photo {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 75px;
  }
  
  .title {
    background: white url('/assets/commentArrow.png') no-repeat 1em 100%;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  
  .item {
    margin-left: 93px;
    clear: both;
    
    .content {
      clear: both;
      
      p.image {
        float: left;
        clear: both;
        margin-right: 10px;
        
        img {
          max-width: 128px;
          max-height: 128px;
        }
      }
    }
  }
  
  .item .content p {
    margin: 0 0 0.5em;
  }
  
  .item .content p:last-child {
    margin-bottom: 0;
  }
  
  .item h4 {
    margin: 0 0 0.75em;
  }

  .content {
    border-radius: 10px;
    padding: 0.75em 1em;
    background: whitesmoke;
    
    form {
      margin-bottom: 0;
      clear: both;
    }
    
    h4 {
      line-height: 16px;
    }
  }

  .title {
    color: #4C4C4C;
  }

  a.file {
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .content form {
    border-top: 1px solid #DDD;
    margin-top: 0.75em;
    padding-top: 0.5em;
  }
}

/* People Tables */
td.photo, th.photo {
  width: 32px;
  padding-right: 0;
}
td.name {
  line-height: 32px;
}

/* Search */
.search {
  overflow: auto;
  padding: 10px;
  margin-bottom: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke;
  clear: both;
}

/* Autocomplete */
body .ui-autocomplete-wrapper .add-on {
  background-image: url('/assets/search.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
article input.ui-autocomplete-loading {
  background-color: lightyellow;
}
.ui-autocomplete-error {
  background-color: #CC0000;
}

.alert-message.block-message {
  clear: both;
}

/* Errors */
.errorExplanation {
  background-color: #FDDFDE;
  border-color: #FBC7C6;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 14px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  margin-bottom: 18px;
  clear: both;
  
  ul {
    margin-bottom: 0;
  }
}

body .field_with_errors {
  display: inline;
  
  label {
    color: #B94A48;
  }
  
  input, textarea, select, .add-on {
    color: #B94A48;
    border-color: #EE5F5B;
  }
}

/* Context Header */
.context-header {
  background: whitesmoke;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 18px;
  
  h1 {
    padding-top: 15px;
    border-top: 1px solid #DDD;
    text-shadow: 0 1px 0 white;
    border-bottom: none;
  }
}

/* Breadcrumbs */
body .breadcrumb {
  border-width: 0;
  background: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 9px 0;
}

/* Pagination */
body .pagination {
  float: left;
  margin: 0 0 18px;
  border: 1px solid #DDD;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 34px;
  
  em, span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    border-right: 1px solid;
    border-right-color: #DDD;
    border-right-color: rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }
  
  em {
    background-color: #C7EEFE;
  }
  
  .next_page {
    border: 0;
  }
  
  .disabled {
    background-color: transparent;
    color: #BFBFBF;
  }
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}