<h1>Parâmetros</h1>
<%= render :partial => 'admin/parametros/menu' %>
<article>
  <header>
    <h2>Editar Categoria de Curso</h2>
    <ul id="toolbar">
      <li><%= link_to 'Exibir', {:action => 'show', :id => @categoriacurso.id}, :class => 'show' %></li>
      <li><%= link_to (t 'Voltar'), {:action => 'index'}, :class => 'back' %></li>
    </ul>
  </header>

  <%= render 'form' %>
</article>