<% content_for :title do %><h1><%= t 'Reports' %></h1><% end %>
<%= render :partial => 'student/reports/menu' %>
<article class="content">
  <header class="page-header">
  	<h2><%= t 'Home' %></h2>
  </header>
  
  <p><%= t 'PleaseChooseReportFromTheMenu' %></p>
</article>