- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'student/lectures/menu'

%article.content
  = render :partial => 'files/index', :locals => {:submit_url => student_lecture_files_path(@lecture)}