<aside>
    <nav>
        <ul>
            <li><%= link_to (t 'Details'), admin_professor_path(professor) %></li>
            <li><%= link_to (t 'Disciplines'), admin_professor_path(professor) %></li>
        </ul>
    </nav>
</aside>
