<aside>
    <nav>
        <ul>
            <li><%= link_to 'Detalhes', admin_professor_path(professor) %></li>
            <li><%= link_to 'Cadeiras', admin_professor_path(professor) %></li>
        </ul>
    </nav>
</aside>
