<header>
  <h1><%= t 'Editing' %> <%= t 'activerecord.models.professor' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), [:admin, @professor], :class => 'back' %></li>
  </ul>
</header>

<%= render 'form' %>