<header>
  <h1>Editar Professor</h1>
  <ul id="toolbar">
    <li><%= link_to 'Exibir', [:admin, @professor], :class => 'show' %></li>
    <li><%= link_to (t 'Voltar'), admin_professores_path, :class => 'back' %></li>
  </ul>
</header>

<%= render 'form' %>