<h1>Parâmetros</h1>
  
<%= render :partial => 'admin/parametros/menu' %>
<article>
  <header>
    <h2>Categorias de Cursos</h2>
    <ul id="toolbar">
      <li><%= link_to 'Nova Categoria de Curso', {:action => 'new'}, :class => 'new' %></li>
    </ul>
  </header>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
  
    <tbody>
      <% @categoriacursos.each do |categoriacurso| %>
      <tr>
        <td><%= link_to categoriacurso.nome, [:admin, categoriacurso] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @categoriacursos %>  
</article>
