<ul>
  <li><%= link_to (t 'Inicio'), root_url %></li>
  <li><%= link_to (t 'Disciplinas'), :controller => 'admin/cursos' %></li>
  <li><%= link_to (t 'Matricula'), :controller => 'admin/cursos' %></li>
  <li><%= link_to (t 'Relatorios'), :controller => 'admin/disciplinas' %></li>
</ul>